/*
I absolutely have to rework a lot of this
*/

/* * {
  display: auto;
  margin: auto;
} */

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #429992, #ffffff);
}

#Title-Name {
  margin: auto;
  text-align: left;
  height: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.button {
  margin: 2rem;
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  height: 20px;
  width: auto;
}

.border {
  padding-top: 15px;
  margin-top: 15px;
  text-align: center;
  font-family: tahoma;
  font-size: 20px;
  background: rgb(128, 128, 128);
  height: 40px;
  width: 1080px;
}

.answers {
  padding-top: 10%;
  padding-left: 40%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
}

.quiz {
  margin-top: 20%;
  height: auto;
  width: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.input {
  margin: auto;
}

h1 {
  display: flex;
  margin: auto;
  text-align: center;
  padding-left: 750px;
}
/* #begin_btn {
} */
